{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}

<div class="row">
	<div class="col-md">
		<div class="table-responsive">
			<table id="bootstrapdatatable" class="table table-sm">
				<thead>
					<th>ID</th>
					<th>Fecha de Renta</th>
					<th>Inventorio</th>
					<th>Cliente</th>
					<th>Fecha de Retorno</th>
                    <th>Staff</th>
				</thead>
                
				<tbody>
				{% for rental in rentals %}
				    <tr>
					    <td>{{rental.rental_id}}</td>
						<td>{{rental.rental_date}}</td>
					    <td>{{rental.inventory}}</td>
						<td>{{rental.customer}}</td>
						<td>{{rental.return_date}}</td>
                        <td>{{rental.staff}}</td>
					</tr>
				{% endfor %}
			</tbody>
			
			</table>
		</div>
	</div>
</div>

{% endblock content %}