<!DOCTYPE html>
{% extends 'accounts/main.html' %}

{% block content %}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <h2 class="text-center">Clientes</h2>
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 pb-5">


                    <!--Form with header-->

                    <form method="POST" id="ItemEditForm" class="post-form"  enctype='multipart/form-data' action="{% url 'updatecustomer' customer.customer_id %}">
                    {% csrf_token %}  
                        <div class="card border-primary rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-warning text-white text-center py-2">
                                    <h3><i class="icon-customerform"></i> Actualizar Cliente </h3>
                                    <p class="m-0">chesterGamesShop</p>
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->
                                <h6>Selecionar Tienda</h6>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-storefield"></i></div>
                                        </div>
                                        <input type="text" id="store" name="store" list="storelist" Placeholder="Seleccionar Tienda.." value="{{ customer.store.store_id }}" class="form-control" style="width:300px;">
                                        <datalist id="storelist">
                                        {% for store in stores %}
                                        <option value="{{store.store_id}}">{{ store }}</option>    
                                        {% endfor %}
                                        </datalist>
                                    </div>
                                </div>
                                
                                <h6>Nombre</h6>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-text"></i></div>
                                        </div>
                                        <input type="text" name="first_name" value="{{ customer.first_name }}" placeholder="ingrese nombre"/>  
                                    </div>
                                </div>

                                <h6>Apellido</h6>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-text"></i></div>
                                        </div>
                                        <input type="text" name="last_name" value="{{ customer.last_name }}" placeholder="ingrese apellido"/>
                                    </div>
                                </div>


                                <h6>em@il</h6>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-email"></i></div>
                                        </div>
                                        <input type="email" name="email" value="{{ customer.email }}" placeholder="ingrese email"/>
                                    </div>
                                </div> 

                                <h6>Seleccionar Direccion</h6>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-addressform"></i></div>
                                        </div>
                                        <input type="text" id="address" name="address" list="addresslist" Placeholder="Buscar Direccion.." value="{{ customer.address.address_id }}" class="form-control" style="width:300px;">
                                        <datalist id="addresslist">
                                        {% for address in addresses %}
                                        <option value="{{address.address_id}}">{{ address }}</option>    
                                        {% endfor %}
                                        </datalist>
                                    </div>
                                </div>

                                

                                <h6>Activo?</h6>

                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-active"></i></div>
                                        </div>
                                        <input type="checkbox" name="activebool" value="Active?" checked="{{ customer.activebool }}"/>
                                    </div>
                                </div>

                               

                               
                                <div class="text-center">
                                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0 py-2">
                            </div>

                        </div>
                    </form>
                    <!--Form with header-->


                </div>
	</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
// http://stackoverflow.com/a/24936814/4779449
function datalistValidator(modelname) {
		var obj = $("#addresslist").find("option[value='" + modelname + "']");
		if (obj != null && obj.length > 0) {
				//alert("valid"); // allow form submission
				return true
		}
		//alert("invalid"); // don't allow form submission
		return false;
}

function datalistValidator2(modelname) {
		var obj = $("#storelist").find("option[value='" + modelname + "']");
		if (obj != null && obj.length > 0) {
				//alert("valid"); // allow form submission
				return true
		}
		//alert("invalid"); // don't allow form submission
		return false;
}

$(document).ready(function() {
		$('#ItemEditForm').submit(function() {
				var modelname = $("#address").val();
				var existingModelName = $('1').text();
				//alert("Submitted: " + modelname);
				if (datalistValidator(modelname)) {
						alert(modelname + " es direccion valida");
						return true;
				}
				alert(modelname + " no es direccion valida");
				$("#address").val(existingModelName).focus().select().animate({
						right: '25px'
				}).animate({
						left: '25px'
				});
				return false;
		});

        $('#ItemEditForm').submit(function() {
				var modelname = $("#store").val();
				var existingModelName = $('1').text();
				//alert("Submitted: " + modelname);
				if (datalistValidator2(modelname)) {
						alert(modelname + " es tienda valida");
						return true;
				}
				alert(modelname + " no es tienda valida");
				$("#store").val(existingModelName).focus().select().animate({
						right: '25px'
				}).animate({
						left: '25px'
				});
				return false;
		});
});
</script>
{% endblock %}