<!DOCTYPE html>
{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Pagos</h5>
            <span><a href="" class="btn btn-primary">Ver Pago</a></span>
        </div>
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered">
                <thead>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Staff</th>
                    <th>Renta</th>
                    <th>Monto</th>
                    <th>Fecha de Pago</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                {% for payment in payments %}
                   <tr>
                     <td><input type="checkbox" class="checkthis" /></td>
                     <td>{{ payment.payment_id }}</td>
                     <td>{{ payment.customer }}</td>
                     <td>{{ payment.staff }}</td>
                     <td>{{ payment.rental }}</td>
                     <td>{{ payment.amount }}</td>
                     <td>{{ payment.payment_date }}</td>
                     <td><a href="{% url 'editpayment' payment.payment_id %}" class="btn btn-warning" type="submit">Actualizar</a></td>
                     <td><a href="{% url 'deletepayment' payment.payment_id %}" class="btn btn-danger" type="submit">Eliminar</a></td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}