<!DOCTYPE html>
{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Tiendas</h5>
            <span><a href="{% url 'addnewstore' %}" class="btn btn-primary">Agregar Tienda</a></span>
        </div>
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered">
                <thead>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>ID</th>
                    <th>Gerente</th>
                    <th>Direccion</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                {% for store in stores %}
                   <tr>
                     <td><input type="checkbox" class="checkthis" /></td>
                     <td>{{ store.store_id }}</td>
                     <td>{{ store.manager_staff }}</td>
                     <td>{{ store.address }}</td>
                     <td><a href="{% url 'editstore' store.store_id %}" class="btn btn-warning" type="submit">Actualizar</a></td>
                     <td><a href="{% url 'deletestore' store.store_id %}" class="btn btn-danger" type="submit">Eliminar</a></td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}