<!DOCTYPE html>
{% extends 'accounts/main.html' %}

{% block content %}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <h2 class="text-center">Tienda</h2>
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 pb-5">


                    <!--Form with header-->

                    <form method="POST" id="ItemEditForm" class="post-form"  enctype='multipart/form-data' action="{% url 'updatestore' store.store_id %}">
                    {% csrf_token %}  
                        <div class="card border-primary rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-warning text-white text-center py-2">
                                    <h3><i class="icon-store"></i> Actualizar Tienda </h3>
                                    <p class="m-0">chesterGamesShop</p>
                                </div>
                            </div>
                            <div class="card-body p-3">

                                <!--Body-->
                                
                                <h6>Direccion</h6>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-addressform"></i></div>
                                        </div>
                                        <input type="text" value="{{store.address.address_id}}" id="address" name="address" list="addresslist" Placeholder="Buscar Direccion.." class="form-control" style="width:300px;">
                                        <datalist id="addresslist">
                                        {% for address in addresses %}
                                        <option value="{{address.address_id}}">{{ address }}</option>    
                                        {% endfor %}
                                        </datalist>
                                    </div>
                                </div>

                                <h6>Gerente</h6>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-manager"></i></div>
                                        </div>
                                        <input type="text" value="{{store.manager_staff.staff_id}}" id="manager_staff" name="manager_staff" list="stafflist" Placeholder="Buscar Empleado.." class="form-control" style="width:300px;">
                                        <datalist id="stafflist">
                                        {% for employee in employees %}
                                        <option value="{{employee.staff_id}}">{{ employee }}</option>    
                                        {% endfor %}
                                        </datalist>
                                    </div>
                                </div>

                                

                               

                                <div class="text-center">
                                    <input type="submit" value="Actualizar" class="btn btn-warning btn-block rounded-0 py-2">
                            </div>

                        </div>
                    </form>
                    <!--Form with header-->


                </div>
	</div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
// http://stackoverflow.com/a/24936814/4779449
function datalistValidator(modelname) {
		var obj = $("#addresslist").find("option[value='" + modelname + "']");
		if (obj != null && obj.length > 0) {
				//alert("valid"); // allow form submission
				return true
		}
		//alert("invalid"); // don't allow form submission
		return false;
}

function datalistValidator2(modelname) {
		var obj = $("#stafflist").find("option[value='" + modelname + "']");
		if (obj != null && obj.length > 0) {
				//alert("valid"); // allow form submission
				return true
		}
		//alert("invalid"); // don't allow form submission
		return false;
}

$(document).ready(function() {
		$('#ItemEditForm').submit(function() {
				var modelname = $("#address").val();
				var existingModelName = $('1').text();
				//alert("Submitted: " + modelname);
				if (datalistValidator(modelname)) {
						alert(modelname + " es direccion valida");
						return true;
				}
				alert(modelname + " no es direccion valida");
				$("#address").val(existingModelName).focus().select().animate({
						right: '25px'
				}).animate({
						left: '25px'
				});
				return false;
		});

        $('#ItemEditForm').submit(function() {
				var modelname = $("#manager_staff").val();
				var existingModelName = $('1').text();
				//alert("Submitted: " + modelname);
				if (datalistValidator2(modelname)) {
						alert(modelname + " es empleado valido");
						return true;
				}
				alert(modelname + " no es empleado valido");
				$("#staff").val(existingModelName).focus().select().animate({
						right: '25px'
				}).animate({
						left: '25px'
				});
				return false;
		});
});
</script>

{% endblock %}