<!DOCTYPE html>
{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Ciudades</h5>
            <span><a href="{% url 'addnewcity' %}" class="btn btn-primary">Agregar Nueva Ciudad</a></span>
        </div>
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered">
                <thead>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>ID</th>
                    <th>Ciudad</th>
                    <th>Nacion</th>
                    <th>Ultima Actualizacion</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                {% for city in cities %}
                   <tr>
                     <td><input type="checkbox" class="checkthis" /></td>
                     <td>{{ city.city_id }}</td>
                     <td>{{ city.city }}</td>
                     <td>{{ city.country }}</td>
                     <td>{{ city.last_update }}</td>
                     <td><a href="{% url 'editcity' city.city_id %}" class="btn btn-warning" type="submit">Actualizar</a></td>
                     <td><a href="{% url 'deletecity' city.city_id %}" class="btn btn-danger" type="submit">Eliminar</a></td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}