<!DOCTYPE html>
{% extends 'accounts/main.html' %}

{% block content %}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <h2 class="text-center">Formulario Actor</h2>
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 col-lg-6 pb-5">


                    <!--Form with header-->

                    <form method="POST" class="post-form"  enctype='multipart/form-data' action="{% url 'updateactor' actor.actor_id %}">
                    {% csrf_token %}  
                        <div class="card border-primary rounded-0">
                            <div class="card-header p-0">
                                <div class="bg-warning text-white text-center py-2">
                                    <h3><i class="icon-actor"></i> Actualizar Actor </h3>
                                    <p class="m-0">chesterGameShop</p>
                                </div>
                            </div>
                            <div class="card-body p-3">
                            <br>Imagen</br>
                                <!--Body-->
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-image"></i></div>
                                        </div>
                                        <input type="file" name="actor_picture" value"{{ actor.actor_picture }}" placeholder="Nombre"/>  
                                    </div>
                                </div>
                                <br>Nombre</br>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-text"></i></div>
                                        </div>
                                           <input type="text" name="first_name" value="{{ actor.first_name }}"/>  
                                    </div>
                                </div>
                                <br>Apellido</br>
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="icon-text"></i></div>
                                        </div>
                                        <input type="text" name="last_name" value="{{ actor.last_name }}"/>  
                                    </div>
                                </div>

                                <div class="text-center">
                                     <input type="submit" value="Actualizar" class="btn btn-warning btn-block rounded-0 py-2" placeholder="First Name">
                            </div>

                        </div>
                    </form>
                    <!--Form with header-->


                </div>
	</div>
</div>


{% endblock %}