<!DOCTYPE html>
{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Categories</h5>
            <span><a href="{% url 'addnewcategory' %}" class="btn btn-primary">Agregar Nueva Categoria</a></span>
        </div>
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered">
                <thead>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>ID</th>
                    <th>Nombre de Categoria</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                {% for category in categories %}
                   <tr>
                     <td><input type="checkbox" class="checkthis" /></td>
                     <td>{{ category.category_id }}</td>
                     <td>{{ category.name }}</td>
                     <td><a href="{% url 'editcategory' category.category_id %}" class="btn btn-warning" type="submit">Actualizar</a></td>
                     <td><a href="{% url 'deletecategory' category.category_id %}" class="btn btn-danger" type="submit">Eliminar</a></td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}