<!DOCTYPE html>
{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <span><a href="{% url 'addnewfilmcategory' %}" class="btn btn-primary">Agregar Nueva Categoria a la pelicula</a></span>
        </div>
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered">
                <thead>
                    <th><input type="checkbox" id="checkall" /></th>
                    <th>Categoria</th>
                    <th>Pelicula</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </thead>
                <tbody>
                {% for filmCategory in filmCategories %}
                
                   <tr>
                     <td><input type="checkbox" class="checkthis" /></td>
                     <td>{{ filmCategory.category }}</td>
                     <td>{{ filmCategory.film}}</td>
                     <td><a href="{% url 'editfilmcategory' filmCategory.id %}" class="btn btn-warning" type="submit">Actualizar</a></td>
                     <td><a href="{% url 'deletefilmcategory' filmCategory.id %}" class="btn btn-danger" type="submit">Eliminar</a></td>
                   </tr>
                   
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}